.shop-products-grid div div{
    margin: 0 auto;
}
  .product-element {
    padding: 10px;
    margin: 50px;
  }
  
  .product-grid-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr)); /* Số cột và chiều rộng của mỗi cột */
    gap: 0.5rem; /* Khoảng cách giữa các phần tử */
    padding: 20px; /* Padding cho grid container */
  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1500px; /* Adjust based on your needs */
    margin: 0 auto;
    margin-top: 0px;
  }

.carousel-image-container {
    width: 1300px;
}

.carousel-image {
    width: 1500px;
    height: 500px;
    object-fit: cover;
}

.carousel-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button:first-of-type {
    left: 0;
}

.carousel-button:last-of-type {
    right: 0;
}


/*-----------------------------------*\
  #TESTIMONIAL
\*-----------------------------------*/

.testimonial-card {
  padding: 30px 20px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
  text-align: center;
  margin-bottom: 25px;
}

.testimonial-banner {
  margin: auto;
  margin-bottom: 20px;
  border-radius: 50%;
}

.testimonial-name {
  font-weight: var(--weight-700);
  text-transform: uppercase;
  color: var(--sonic-silver);
  margin-bottom: 5px;
}

.testimonial-title {
  color: var(--onyx);
  font-size: var(--fs-7);
  margin-bottom: 15px;
}

.quotation-img {
  margin: auto;
  margin-bottom: 10px;
}

.testimonial-desc {
  max-width: 70%;
  margin: auto;
  color: var(--sonic-silver);
  font-size: var(--fs-7);
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 15px;
  border: 1px solid var(--cultured);
  border-radius: var(--border-radius-md);
}

.service-item {
  min-width: 190px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.service-icon {
  font-size: 35px;
  color: var(--salmon-pink);
  transition: var(--transition-timing);
}

.service-icon img { --img-stroke-width: 25px; }

.service-item:hover .service-icon { color: var(--eerie-black); }

.service-title {
  color: var(--sonic-silver);
  font-size: var(--fs-7);
  font-weight: var(--weight-600);
  text-transform: capitalize;
  margin-bottom: 5px;
}

.service-desc {
  color: var(--sonic-silver);
  font-size: var(--fs-9);
}





/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog { margin-bottom: 30px; width: 80%; margin: 0 auto;}

.blog-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.blog-card {
  min-width: 18%;
  scroll-snap-align: start;
}

.blog-banner {
  width: 100%;
  border-radius: var(--border-radius-md);
  margin-bottom: 20px;
}

.blog-category {
  width: max-content;
  color: var(--salmon-pink);
  font-size: var(--fs-8);
}

.blog-title {
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--weight-600);
  line-height: 1.4;
  margin-bottom: 5px;
  transition: var(--transition-timing);
}

.blog-title:hover { color: var(--salmon-pink); }

.blog-meta {
  color: var(--sonic-silver);
  font-size: var(--fs-7);
}

.blog-meta cite {
  font-style: normal;
  color: var(--davys-gray);
}

